.news-section {
    position: relative;
    overflow: hidden;
    height: 80vh;
}

.news-bg-image {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 100%),
        url('/assets/media-image.jpg') center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.news-section>.container {
    position: relative;
    z-index: 2;
}

.featured-news-content-media{
    max-width: 500px;
    max-height: 178.68px;
}

.featured-news-img{
    object-fit: cover !important;
    width: 450px;
    height: 178.68px;
}

.featured-news-title-media{
    font-style: 19.2px;
    font-weight: 700;
}

.featured-news-description-media{
    font-style: 15.36px;
    font-weight: 400;

}

.featured-news-img-1{
    object-fit: cover !important;
    width: 322.98px;
    max-height: 178.68px;
}

.featured-news-title-media-1{
    font-style: 17px;
    font-weight: 700;
}

.featured-news-description-media-text{
    font-size: 14px !important;
    font-weight: 400;

}

.featured-news-content-media-1{
    max-width: 322.98px;
    max-height: 178.68px;
}

.featured-text{
    font-style: 48px;
    font-weight: 600;
    color: #025836;
}

.featured-news-img-2{
    object-fit: cover !important;
    width: 250px !important;
    height: 160px !important;
}


.featured-news-img-3{
    object-fit: cover !important;
    width: 120px !important;
    height: 81.17px !important;
    border-radius: 4px;
}

.featured-meta-new-sm{
    font-size: 11.52px;
}

.featured-meta-new-sm-2{
    font-size: 12px;
    font-weight: 600;
}

.more-news-img{
    object-fit: cover !important;
    max-width: 322px;
    height: 160px;
    border-radius: 4px;
}

.custom-outline-btn {
    border: 2px solid #025836 !important;
    background-color: white;
    color: #025836;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .custom-outline-btn:hover {
    background-color: #025836;
    color: white;
  }